<template>
  <div>
    <div class="card-body">
      <h5 class="card-title">
        <a :href="'https://open.spotify.com/artist/' + artist.id"
          class="card-link"
          target="_blank"
        >{{ artist.name }}</a>
      </h5>
      <h6
        class="card-subtitle mb-2 text-muted"
      >{{ artist.genres.list }}</h6>
        <span v-for="(genre,index) in artist.genres" :key="index">
          <span v-if="index != 0">, </span><span>{{ genre }}</span>
        </span>
    </div>
  </div>
</template>

<script>
export default {
  name: 'ArtistListItem',
  props: ['artist']
};
</script>