<template>
  <div id="app">
    <SearchForm v-on:search="search"/>
    <SearchResults
      v-if="artists.length > 0"
      v-bind:artists="artists"
      v-bind:reformattedSearchString="reformattedSearchString"
    />
  </div>
</template>

<script>
import SearchForm from './components/SearchForm';
import SearchResults from './components/SearchResults';
//import axios from 'axios';
import AppApi from '@/services/api/app'

export default {
  name: 'App',
  components: {
    SearchForm,
    SearchResults,
  },
  data() {
    return {
      artists: [],
      reformattedSearchString: '',
      api: {
        type: 'artist',
        q: '',
     }
    };
  },
  methods: {
    search(searchParams) {
      this.reformattedSearchString = searchParams.join(' ');
      this.api.q = searchParams.join('+');
      AppApi.getArtist(this.api.q,this.api.type)
        .then(body => {
          console.log(body);
          this.artists = body.data.artists.items;
        })
        .catch(error => console.log(error));
    },
  }
}
</script>

<style>
#app {
  font-family: Avenir, Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: #2c3e50;
  margin-top: 60px;
}
</style>
